$bg-url-clock: url("../img/clock.svg");
$bg-url-hr-logo: url("../img/hr-logo.svg");
$bg-url-hr-logo-rotated-90: url("../img/hr-logo-rotated-90.svg");
$bg-url-hr-logo-full: url("../img/hr-logo-full.svg");